:host {
  $main: brown;
  $accent: orange;

  --color-main: #{$main};
  --color-main-darken: #{darken($main, 10)};
  --color-main-darken2: #{darken($main, 20)};
  --color-main-lighten: #{lighten($main, 20)};
  --color-accent: #{$accent};

  display: block;
  text-align: center;
}

.pseudo-classes {
  cursor: pointer;

  :hover {
    $main: darken(brown, 10);
    $accent: blue;

    --color-main: #{$main};
    --color-main-darken: #{darken($main, 10)};
    --color-main-darken2: #{darken($main, 20)};
    --color-main-lighten: #{lighten($main, 20)};
    --color-accent: #{$accent};
  }

  :active {
    $main: tomato;
    $accent: yellow;

    --color-main: #{$main};
    --color-main-darken: #{darken($main, 10)};
    --color-main-darken2: #{darken($main, 20)};
    --color-main-lighten: #{lighten($main, 20)};
    --color-accent: #{$accent};
  }
}

section {
  margin-bottom: 8rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dino {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 2rem 1rem 1rem;
}

select,
[type="color"] {
  cursor: pointer;
}

select {
  max-width: 180px;
  text-align: center;
}

[type="color"] {
  margin-top: 1rem;
  border: none;
  width: 40px;
  height: 40px;
}
